* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #050505; 
    color: #cccccc;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    overflow-x: hidden;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    
    
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    
    
    background-color: rgba(5, 5, 5, 0.9); 
    backdrop-filter: blur(10px); 
    border-bottom: 1px solid rgba(168, 85, 247, 0.5);
    box-shadow: 0px 4px 20px rgba(168, 85, 247, 0.4);
    z-index: 100; 
}
.brand-logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.nav-links a {
    color: #888;
    text-decoration: none;
    margin: 0 15px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: white;
}

.btn-primary {
    background: white;
    color: black;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
}


.hero-section {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 0 5%;
    min-height: 85vh; 
}


.hero-text-wrapper {
    width: 45%;
    z-index: 5;
}

.badge {
    background: #222;
    color: white;
    padding: 5px 12px;
    border-radius: 15px;
    font-size: 0.8rem;
    display: inline-block;
    margin-bottom: 20px;
    border: 1px solid #333;
}

.hero-heading {
    font-size: 3.5rem;
    color: white;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero-subtext {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 400px;
}

.btn-outline {
    border: 1px solid #555;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    text-decoration: none;
    margin-left: 10px;
}


.hero-visual {
    width: 50%;
    height: 600px;
    position: relative;
}


@media (max-width: 768px) {
    .navbar { padding: 15px; }
    .nav-links { display: none; } 
    
    .hero-section {
        flex-direction: column;
        text-align: center;
        padding-top: 50px;
    }

    .hero-text-wrapper { width: 100%; margin-bottom: 40px; }
    .hero-heading { font-size: 2.5rem; }
    .hero-subtext { margin: 0 auto 30px auto; }
    
    .hero-visual { width: 100%; height: 400px; }

}
